In [9]:
#eng score=90
#7font="굴림" (변수 오류사항 에러가 났을때 위에도 볼것) 

x=3.3764
y=6/2
z=6//2
print(x,y,z)

3.3764 3.0 3

In [12]:
a = 10
b = 20
c = a + b * 10 - 5 / 5
print(c)

209.0

In [14]:
x = 20 
y = 4
x = y % x 
print(x)
y -= x * 2 
print(x, y)

4
4 -4

In [16]:
a = '쥐 구멍에 볕 들 날 있다.'
b = len(a)
print(b)

15

In [112]:
eng = 80
#result = '영어 점수 : ' + eng + '점'
print('영어 점수 : ' , eng, '점')

영어 점수 :  80 점

In [110]:
eng = 80
result = '영어 점수 : ' + str(eng) + '점'
print(result)

영어 점수 : 80점

In [108]:
name = '김수영'
age = 26
height = 180.345
a = '나는 %s입니다. 나이는 %d이고 키는 %.3f입니다.' %(name,age,height)
print(a)

나는 김수영입니다. 나이는 26이고 키는 180.345입니다.

In [106]:
name = '황예린'
age = 18
eyesight = 1.2
a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)
print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

In [104]:
score1 = 80
score2 = 87
sum = score1 + score2
avg = sum/2
print('두 과목 점수 : %d, %d' % (score1, score2))
print('합계 : %d, 평균 : %.2f' % (sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [102]:
year = 2020
month = 3
day = 5
print(year, month, day, sep='/')

2020/3/5

In [100]:
a = '안녕하세요.'
b = '반갑습니다.'
print(a)
print(b)
print('\n\n')
print(a, end='')
print(b)

안녕하세요.
반갑습니다.



안녕하세요.반갑습니다.

In [120]:
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')
c = int(a) + int(b)
d= a+b
print(c)
print(d)

첫 번째 숫자를 입력하세요 :  9
두 번째 숫자를 입력하세요 :  5

14
95

In [122]:
inch = float(input('인치(inch)를 입력하세요 : '))
cm = inch * 2.54
print('센티미터 : %.2f' % cm)

인치(inch)를 입력하세요 :  32

센티미터 : 81.28

In [128]:
 #파일명 : ex2-35.py
"""
프로그램명 : 두 수 더하기
작성자 : 홍길동
작성일 : 2021.9.20
"""
# a = 10 # 변수 a에 10 저장
# b = 20 # 변수 b에 20 저장
# c = a + b # 두 수를 더해 변수 c에 저장
# 결과를 출력한다.
# print(c)
a = 100 # 변수 a에 10 저장
b = 200 # 변수 b에 20 저장
c = a + b # 두 수를 더해 변수 c에 저장
# 결과를 출력한다.
print(c)

300

In [130]:
width = 10 
height = 3
area = width * height / 2
print('삼각형의 밑변 길이 :', width) 
print('삼각형의 높이 :',height) 
print('삼각형의 면적 :',area

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 : 15.0

In [134]:
#위의 것을 최적화한 결과 나눗셈을 곱셈으로 바꾼다 
#나눗셈과 몫을 구하는것보다 곱셈연산이 더 빠르고 곱셈보다 비트연산이 더 빠르다 
#이렇게 바꿀시 시간복잡도를 잡아줄수있다
width = 10 
height = 3
area = width * height * 0.5
print('삼각형의 밑변 길이 :', width) 
print('삼각형의 높이 :',height) 
print('삼각형의 면적 :',area)

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 : 15.0

In [136]:
#거스름돈 구하기 및 거스름돈 줄이기 알고리즘(그리디 알고리즘 = 탐욕)
price = 800 
buy = 3 
pay = 5000
change = pay - price * buy
print('물건가격 :', price, '원') 
print('구개개수 :', buy, '개') 
print('지불금액 :', pay, '원') 
print('거스름돈 :', change, '원')

물건가격 : 800 원
구개개수 : 3 개
지불금액 : 5000 원
거스름돈 : 2600 원

In [144]:
name = "홍길동"
age = 30
height = 171.5
print('성 :', name[0])
print('이름 :', name[1:])
print("%s의 나이 : %d세, 키 : %.1fcm" % (name, age, height)) 
print(f"{name}의 나이 : {age}세, 키 : {height}cm".format())

성 : 홍
이름 : 길동
홍길동의 나이 : 30세, 키 : 171.5cm
홍길동의 나이 : 30세, 키 : 171.5cm

In [150]:
name = input('학생 이름을 입력하세요 :') 
kor = int(input('국어 성적을 입력하세요 :')) 
eng = int(input('영어 성적을 입력하세요 :')) 
math = int(input('수학 성적을 입력하세요 :'))
total = kor + eng + math 
avg = total / 3  
print('이름:%s, 국어:%d, 영어:%d,수학:%d, 평균:%.1f점' % (name, kor, eng, math, avg))

학생 이름을 입력하세요 : 100
국어 성적을 입력하세요 : 50
영어 성적을 입력하세요 : 60
수학 성적을 입력하세요 : 40

이름:100, 국어:50, 영어:60,수학:40, 평균:50.0점

In [152]:
name = input('학생 이름을 입력하세요 :') 
kor = int(input('국어 성적을 입력하세요 :')) 
eng = int(input('영어 성적을 입력하세요 :')) 
math = int(input('수학 성적을 입력하세요 :'))
total = kor + eng + math 
avg = total *0.333333  #최적화가 필요할때 소수점이 들어가면 고객사와 협의하에 한다 값이 바뀔수도 있기 때문이다
print('이름:%s, 국어:%d, 영어:%d,수학:%d, 평균:%.1f점' % (name, kor, eng, math, avg))

학생 이름을 입력하세요 : 종원
국어 성적을 입력하세요 : 80
영어 성적을 입력하세요 : 90
수학 성적을 입력하세요 : 70

이름:종원, 국어:80, 영어:90,수학:70, 평균:80.0점

In [162]:
 x = int(input('숫자를 입력하세요 : '))
if x > 0 :
    print('양수!')
else :
    print('0 또는 음수!')
    
print("조건 제어문의 대표적인 명령은 if문입니다.")

숫자를 입력하세요 :  5555

양수!
조건 제어문의 대표적인 명령은 if문입니다.

In [166]:
num = int(input('숫자를 입력하세요 : '))
if num % 2 == 0 :
    print('짝수이다.')
else :
    print('홀수이다.')

숫자를 입력하세요 :  55555554

짝수이다.

In [168]:
num = int(input('숫자를 입력하세요 : '))
if num % 7 == 0 :
    print('7의 배수이다.') 
else :
    print('7의 배수가 아닙니다.')

숫자를 입력하세요 :  444

7의 배수가 아닙니다.

In [184]:
num = int(input('숫자를 입력하세요 : '))

if num % 3 == 0 and num % 7 == 0:
    print('num')
    
else :
    print(num,"은 3과 7의 공배수가 아닙니다.")

print(not num)

숫자를 입력하세요 :  44

44 은 3과 7의 공배수가 아닙니다.
False

In [192]:
id = input('아이디를 입력하세요 : ')
level = int(input('회원 레벨을 입력하세요 : '))
if id == 'admin' or level == 1 :
    print('관리자이다.')
else :
    print('관리자가 아니다.')

아이디를 입력하세요 :  admin
회원 레벨을 입력하세요 :  7

관리자이다.

In [206]:
name = input('이름을 입력하세요 : ')
if not name :
    print('이름이 입력되지 않았다.')
else :
    print('이름 : %s' % name)

이름을 입력하세요 :

이름이 입력되지 않았다.

In [212]:
age = int(input('나이를 입력하세요 : '))
pay = '3000원'
if age >= 65 or age < 7 :
    pay = '무료'
print('입장료 : %s' % pay)

나이를 입력하세요 :  6

입장료 : 무료

In [218]:
#65세이상 , 7세 미만 무료
#7세 이상,18세 이하 1000원
#19세 이상 65세 미만 3000원

age= int(input("나이를 입력하세요 : "))

if age < 7 or age >=65:
    pay = "무료"
elif age >= 7 and age <=18:
    pay = "1000원"
else:
    pay = "3000원"

    print("입장료 : %s " %pay)

나이를 입력하세요 :  55

입장료 : 3000원

In [230]:
passwd ="12345"
pwd=input("비밀번호를 입력하세요.")

if pwd == passwd :
    print("비밀번호 OK!")
else:
    print("비밀번호 ERROR!")

passwd = 12345
pwd=int(input("비밀번호를 입력하세요."))

if pwd == passwd :
    print("비밀번호 OK!")
else:
    print("비밀번호 ERROR!")

비밀번호를 입력하세요. 12345

비밀번호 OK!

비밀번호를 입력하세요. 12345

비밀번호 OK!

In [246]:
month = int(input('월을 입력하세요 : '))
if month >= 3 and month <= 5 : 
    print('%d월은 봄입니다.' % month)
if month >= 6 and month <= 8 : 
    print('%d월은 여름입니다.' % month)
if month >= 9 and month <= 11 : 
    print('%d월은 가을입니다.' % month)
if month == 12 or month == 1 or month == 2 : 
    print('%d월은 겨울입니다.' %month)

월을 입력하세요 :  7

7월은 여름입니다.

In [384]:

sum = 0
for i in range(1, 11) :
    sum += i
    print('i의 값 : %d, 합계 : %d' % (i, sum))

i의 값 : 1, 합계 : 1
i의 값 : 2, 합계 : 3
i의 값 : 3, 합계 : 6
i의 값 : 4, 합계 : 10
i의 값 : 5, 합계 : 15
i의 값 : 6, 합계 : 21
i의 값 : 7, 합계 : 28
i의 값 : 8, 합계 : 36
i의 값 : 9, 합계 : 45
i의 값 : 10, 합계 : 55

In [406]:
num =int(input("합계를 구할 최종값을 입력하세요."))
#알고리즘1
sum = 0
for i in range(1, num+1) :
    sum += i   #sum = sum+i
print('1~' ,num,'까지 합계 : %d' % sum)

num =int(input("합계를 구할 최종값을 입력하세요."))
#알고리즘2
sum = num*(num+1)*0.5
print('1~' ,num,'까지 합계 : %d' % sum)

합계를 구할 최종값을 입력하세요. 55555

1~ 55555 까지 합계 : 1543206790

합계를 구할 최종값을 입력하세요. 55555

1~ 55555 까지 합계 : 1543206790