In [7]:
#Q5-1. 리스트 추출하기

color = ['red', 'green', 'blue', 'black', 'white']
print(color[0]) 
print(color[4]) 
print(color[1:4])

red
white
['green', 'blue', 'black']

In [17]:
#Q5-2. list()와 range()로 리스트 생성하기

num = list(range(1,20,2)) 
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
#Q5-3. 리스트 요소 추가하기

mylist = ['사과', '바나나', '파인애플', '배'] 
mylist.append('키위')
for a in mylist: 
    print(a)

사과
바나나
파인애플
배
키위

In [31]:
#Q5-4. 리스트 요소 삭제하기

mylist = ['사과', '바나나', '파인애플', '포도', '오렌지', '배']
mylist.remove('바나나') 
print(mylist)

['사과', '파인애플', '포도', '오렌지', '배']

In [9]:
#Q5-5. 리스트 요소 삭제하기

person1 = ['kim', 24, 'kim@naver.com'] 
person2 = ['lee', 35, 'lee@hanmail.net']
person = person1+person2 
print(person)

['kim', 24, 'kim@naver.com', 'lee', 35, 'lee@hanmail.net']

In [1]:
#Q5-6. while문에서 리스트 활용하기

s = [64, 89, 100, 85, 77, 58, 79, 67, 96, 87, 87, 36, 82, 98, 84, 76, 63, 69, 53, 22]
count_su = 0 # 90점 ~ 100점
count_woo = 0 # 80점 ~ 89점
count_mi = 0 # 70점 ~ 79점
count_yang = 0 # 60점 ~ 69점
count_ga = 0 # 0점 ~ 59점
i=0 
while i < len(s) : 
    if s[i] >= 90 and s[i] <=100 :
        count_su = count_su + 1
    if s[i] >= 80 and s[i] <= 89 :
        count_woo = count_woo + 1
    if s[i] >= 70 and s[i] <= 79 :
        count_mi = count_mi + 1
    if s[i] >= 60 and s[i] <= 69 :
        count_yang = count_yang + 1
    if s[i] >= 0 and s[i] <= 59 :
        count_ga = count_ga + 1
    i += 1

print('수 : %d명' % count_su) 
print('우 : %d명' % count_woo) 
print('미 : %d명' % count_mi) 
print('양 : %d명' % count_yang) 
print('가 : %d명' % count_ga)

수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 4명

In [77]:
s = [64, 89, 100, 85, 77, 58, 79, 67, 96, 87, 87, 36, 82, 98, 84, 76, 63, 69, 53, 22]
count_su = 0 # 90점 ~ 100점
count_woo = 0 # 80점 ~ 89점
count_mi = 0 # 70점 ~ 79점
count_yang = 0 # 60점 ~ 69점
count_ga = 0 # 0점 ~ 59점
s.sort(reverse=True) #큰 숫자부터 정렬
i=0 
print(s)
while i < len(s) : 
    if s[i]>= 90:
     count_su += 1
    elif s[i]>= 80:
     count_woo += 1
    elif s[i]>= 70:
     count_mi += 1
    elif s[i]>= 60:
     count_yang += 1
    else:
     count_ga += 1
    i += 1
print('수 : %d명' % count_su) 
print('우 : %d명' % count_woo) 
print('미 : %d명' % count_mi) 
print('양 : %d명' % count_yang) 
print('가 : %d명' % count_ga)

[100, 98, 96, 89, 87, 87, 85, 84, 82, 79, 77, 76, 69, 67, 64, 63, 58, 53, 36, 22]
수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 4명

In [83]:
s = [64, 89, 100, 85, 77, 58, 79, 67, 96, 87, 87, 36, 82, 98, 84, 76, 63, 69, 53, 22]
count_su = 0 # 90점 ~ 100점
count_woo = 0 # 80점 ~ 89점
count_mi = 0 # 70점 ~ 79점
count_yang = 0 # 60점 ~ 69점0
count_ga = 0 # 0점 ~ 59점
s.sort(reverse=True)
i=0 
while i < len(s) :
    if s[i]>100 or s[i]<0:
        i+=1
        continue
    elif s[i]>= 90:
     count_su += 1
    elif s[i]>= 80:
     count_woo += 1
    elif s[i]>= 70:
     count_mi += 1
    elif s[i]>= 60:
     count_yang += 1
    else:
     count_ga += 1
    i += 1
print('수 : %d명' % count_su) 
print('우 : %d명' % count_woo) 
print('미 : %d명' % count_mi) 
print('양 : %d명' % count_yang) 
print('가 : %d명' % count_ga)

[101, 100, 98, 96, 89, 87, 87, 85, 84, 82, 79, 77, 76, 69, 67, 64, 63, 58, 53, 36, 22, -1]
수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 4명

In [41]:
#Q5-7. 리스트를 이용한 영어단어 퀴즈

questions = ['tr_in', 'b_s', '_axi', 'air_lane'] 
answers = ['a', 'u', 't','p']
for i in range(len(questions)):
    q = '%s 에서 밑줄(_) 안에 들어갈 알파벳은?' % questions[i]
    ans = input(q)
    if ans == answers[i]:
        print('정답입니다!')
    else :
        print('틀렸습니다!')

tr_in 에서 밑줄(_) 안에 들어갈 알파벳은? a

정답입니다!

b_s 에서 밑줄(_) 안에 들어갈 알파벳은? u

정답입니다!

_axi 에서 밑줄(_) 안에 들어갈 알파벳은? t

정답입니다!

air_lane 에서 밑줄(_) 안에 들어갈 알파벳은? p

정답입니다!

In [85]:
#Q5-8. 예제 5-10을 while문으로 작성하기

scores = [[96, 84, 80], 
          [96, 86, 76], 
          [76, 95, 83],
          [89, 96, 69], 
          [90, 76, 91], 
          [82, 66, 88],
          [83, 86, 79], 
          [85, 90, 83]]
i = 0 
while i < len(scores) :
    sum = 0
    j = 0
    while j < len(scores[i]) :
        sum +=scores[i][j]
        j += 1
    avg = sum/len(scores[i])
    print('%d번째 학생의 합계 : %d, 평균 : %.2f' % (i+1, sum, avg)) 
    i += 1

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 257, 평균 : 85.67
6번째 학생의 합계 : 236, 평균 : 78.67
7번째 학생의 합계 : 248, 평균 : 82.67
8번째 학생의 합계 : 258, 평균 : 86.00

In [87]:
#Q5-9. 리스트를 이용한 합계/평균 구하기

scores = []
while True :
    score = int(input('성적을 입력하세요(종료 시 -1 입력): '))
    if score == -1 :
        break
    else :
        scores.append(score)
    sum = 0 
    for i in range(0,len(scores)) :
        sum += scores[i]
    avg = sum/len(scores)
    print('합계 : %d, 평균 : %.2f' % (sum, avg))

성적을 입력하세요(종료 시 -1 입력):  75

합계 : 75, 평균 : 75.00

성적을 입력하세요(종료 시 -1 입력):  93

합계 : 168, 평균 : 84.00

성적을 입력하세요(종료 시 -1 입력):  88

합계 : 256, 평균 : 85.33

성적을 입력하세요(종료 시 -1 입력):  83

합계 : 339, 평균 : 84.75

성적을 입력하세요(종료 시 -1 입력):  97

합계 : 436, 평균 : 87.20

성적을 입력하세요(종료 시 -1 입력):  -1

In [67]:
#Q5-10. 영화관 빈 좌석 표시하기

seats = [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [1, 1, 1, 0, 0, 0, 0, 0, 1, 0],
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
        [0, 1, 0, 0, 0, 1, 0, 1, 0, 0],
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [1, 0, 1, 0, 0, 0, 0, 0, 0, 1]]

for i in range(len(seats)) :
    for j in range(len(seats)) :
        if seats[i][j] == 0 :
            print('%3s' % '□', end='')
        else :
            print('%3s' % '■', end='')
    print()
print('\n※ 예약 가능 : ■, 예약 불가 : □')

  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □  □
  □  □  □  □  □  ■  □  □
  □  ■  □  □  □  ■  □  ■
  □  □  □  □  □  □  ■  □
  ■  □  ■  □  □  □  □  □

※ 예약 가능 : ■, 예약 불가 : □